body {
    margin: 0;
    font-family: Merriweather, sans-serif;
    padding-top: 20px;
    background-color: #b1e2ff;
}

header {
    display: flex;
    position: absolute;
    border-width: 1px;
    border-color: #747474;
    border-style: solid;
    padding: 1%;
    background:rgb(203 203 203);
    background-image: linear-gradient(to right, grey , #b1e2ff); 
    justify-content: space-between;
    height: inherit;
    text-shadow: -1px -1px 14px #b1e2ff;
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}
/* 
Code referenced from:
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_fixed_menu.
Changed overflow value to visible from hidden. */
.fixed-header {
    position: fixed;
    top: 0;
    width: -webkit-fill-available;
}

h1 {
    display: flex;
    font-size: 200%;
    align-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
}

main{
    margin-top: 44px;
}

h2 {
    font-family: fredoka one, sans-serif;
    font-size: 185%;
    border-width: 1px;
    border-color: #747474;
    border-style: solid;
    padding: 1%;
    background:rgb(203 203 203);
    background-image: linear-gradient(to right, grey , #b1e2ff); 
}

#navb {
    display: inline-flex;
    flex-wrap: wrap;
    align-content: flex-end;
    padding-left: 15px;
    color: black;    
    text-shadow: -1px -1px 14px #3f3f3f;
    text-decoration: none;
}

.me {
    border-radius: 50%;
    width: 33.3%;
    margin: 25px;
    border: black;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
}

.p1 {
    display: flex;
    margin: 25px;
}

.hor {
    display: flex;
    margin-top: 38.781px;
    margin-bottom: 38.781px;
}

.placeholder1 {
    display: flex;
}

.placeholder2 {
    display: flex;
}

.hb {
    display: flex;
    margin-top: 29.5px;
    margin-bottom: 29.5px;
}

.p6 {
    display: flex;
    margin: 25px;
    flex-direction: row;
}

.apps img {
    display: flex;
    max-width: 100px;
    max-height: 100px;    
}

.apps {
    display: flex;
    flex-direction: row;
    margin: 25px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.p6 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
