body {
    margin: 0;
    font-family: Merriweather, sans-serif;
}

header {
    display: flex;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    padding: 1%;
    background:rgb(203 203 203);
    justify-content: space-between;
    height: inherit;
    text-shadow: -1px -1px 14px #3f3f3f;
}

/* 
Code referenced from:
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_fixed_menu.
Changed overflow value to visible from hidden. */
.fixed-header {
    overflow: visible;
    position: fixed;
    top: 0;
    width: -webkit-fill-available;
}

h1 {
    display: flex;
    font-size: 200%;
}

h2 {
    font-family: fredoka one, sans-serif;
    font-size: 185%;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    padding: 1%;
    background:rgb(203 203 203);


}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

a {
    display: inline-flex;
    flex-wrap: wrap;
    align-content: flex-end;
    padding-left: 15px;
    color: black;    
    text-shadow: -1px -1px 14px #3f3f3f;
    text-decoration: none;
}

.me {
    border-radius: 50%;
    width: 33.3%;
    margin-top: 70px;
    border: black;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
}